<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.0 Transitional//EN">
<html>
<head>
<title>Форма редагування Студента</title>
<meta name="" content="">
 <meta charset="UTF-8"/>
<!-- Include Styles -->
 <link rel="stylesheet" href="https://cdn.jsdelivr.net/bootstrap/3.3.0/css/bootstrap.min.css">
<style type="text/css">
 .col-xs-12
 .col-xs-4 
 .col-xs-8  
 </style>

</head>



<body>
<div class="container">
	
	<div class="row" style="height: 100px;">
		<div class="col-xs-4 col-xs-offset-4 " ></div>
  		
  	</div>
	
	<div class="row">
  		<div class="col-xs-6 col-xs-offset-5 " ><h1>Форма Редагування Студента</h1></div>
  	</div>


  	
  	<div class="row">
  	
  		<form class="form-horizontal" role="form">
  		
  		
  			<div class="form-group">
	    		<label for="exampleInputName2" class="col-xs-2 control-label">Ім'я</label>
	    		<div class="col-xs-4">
    				<input type="text" class="form-control" id="exampleInputName2" placeholder="Вася">
    			</div>
  			</div>
		
					
	  		<div class="form-group">
    			<label for="exampleInputName2" class="col-xs-2 control-label">По-батькові</label>
    			<div class="col-xs-4">
    			<input type="text" class="form-control" id="exampleInputName2" placeholder="Миколайович">
    			</div>
  			</div>
		
		
		
  			<div class="form-group">
    			<label for="exampleInputName2" class="col-xs-2 control-label">Прізвище</label>
    			<div class="col-xs-4">
    			<input type="text" class="form-control" id="exampleInputName2" placeholder="Пупкин">
    			</div>
  			</div>
		
		
		
  			<div class="form-group">
    			<label for="exampleInputName2" class="col-xs-2 control-label">№ Білету</label>
    			<div class="col-xs-4">
    			<input type="text" class="form-control" id="exampleInputName2" placeholder="121">
    			</div>
  			</div>
		
		
		
  			<div class="form-group">
    			<label for="exampleInputName2" class="col-xs-2 control-label">Дата Народження</label>
    			<div class="col-xs-4">
    			<input type="text" class="form-control" id="exampleInputName2" placeholder="13-05-1975">
    			</div>
  			</div>
  			
  			
  			<div class="form-group">
    			<label for="exampleInputName2" class="col-xs-2 control-label">Фото</label>
    			<div class="col-xs-4">
    			Наразі "назва ФАЙЛу"<br>
    			Змінити 
    			<button type="button" class="btn btn-primary">вибрати файл</button>
    			не вибран файл
    			
    			</div>
  			</div>
		
		
		
  			<div class="form-group">
    			<label for="exampleInputName2" class="col-xs-2 control-label">Група</label>
    			<div class="col-xs-4">
    			
    				<button class="btn btn-default dropdown-toggle" type="button" id="dropdownMenu1" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
    				 Группа
  				  <span class="caret"></span>
  					</button>
  					<ul class="dropdown-menu" aria-labelledby="dropdownMenu1">
    					<li><a href="#">121</a></li>
    					<li><a href="#">111</a></li>
    					<li><a href="#">132</a></li>
    					<li><a href="#">122</a></li>
  					</ul>
    			</div>
  			</div>
		
		
		
		
  			<div class="form-group">
    			<label for="exampleInputName2" class="col-xs-2 control-label">Додаткові Нотатки</label>
    			<div class="col-xs-4">
    			<textarea class="form-control" rows="3"></textarea>
    			</div>
  			</div>
		
		
		
		
		</form>
		
		
		
		
	</div>
</div>




<!-- Javascripts Section -->
 <script src="http://cdnjs.cloudflare.com/ajax/libs/jquery/2.1.1/jquery.js"></script>
 <script src="https://cdn.jsdelivr.net/bootstrap/3.3.0/js/bootstrap.min.js"></script>
</body>



</html>