 
<!DOCTYPE html>
 <html lang="uk">

 <head>
 <meta charset="UTF-8"/>
 <title>Сервіс Обліку Студентів</title>
 <meta name="description" value="Система Обліку Студентів Навчального Закладу" />

 <!-- Include Styles -->
 <link rel="stylesheet" href="https://cdn.jsdelivr.net/bootstrap/3.3.0/css/bootstrap.min.css">

 <style type="text/css">
 .col-xs-12
 .col-xs-4 
 .col-xs-8  
 </style>

 </head>

<body>
<!-- Javascripts Section -->
<script src="http://cdnjs.cloudflare.com/ajax/libs/jquery/2.1.1/jquery.js"></script>
<script src="https://cdn.jsdelivr.net/bootstrap/3.3.0/js/bootstrap.min.js"></script>



 <!-- Start Container -->
	<div class="container">

		<!-- Start Header -->
		<div class="row" id="header">

			<!-- Logo -->
			<div class="col-xs-8">
				<h1>Сервіс Обліку Студентів</h1>
			</div>

		<!-- End Header -->

<!-- Start SubHeader -->
			<div class="row" id="sub-header">
				<div class="col-xs-12">
					<ul class="nav nav-tabs">
						<li role="presentation"><a href="index2.html">Студенти</a></li>
						<li	role="presentation"><a href="table-students.html">Відвідування</a></li>
						<li role="presentation" class="active"><a href="group-students.html">Групи</a></li>
					</ul>
				</div>
			</div>
		</div>	
	
<!-- End SubHeader -->


 <!-- Start Main Page Content -->
<div class="row" id="content-columns">

 <div class="col-xs-12" id="content-column">

 <!-- Status Message -->
 <h2> Групи студентів </h2>
 <a class="btn btn-primary" href="#">Додати Групи</a>
 
		<div><!-- Start Group Listing -->
		<table class="table table-hover table-striped">
  	<thead>
		<tr>
			<th> № </th>
			<th> Студент </th>
			<th> СР </th>
			<th> Дії </th>
		</tr>
	</thead>	
	</table>
	</div>
		
		
		
		


<!-- End Main Page Content -->

 <!-- Start Footer -->
 <div class="row">
<div class="col-xs-12">
 &copy; 2014 Сервіс Обліку Студентів
</div>
</div>
<!-- End Footer -->
 </div>

 <!-- Start Main Page Content -->
 <!-- End Container -->
 

 <!-- Javascripts Section -->
 <script src="http://cdnjs.cloudflare.com/ajax/libs/jquery/2.1.1/jquery.js"></script>
 <script src="https://cdn.jsdelivr.net/bootstrap/3.3.0/js/bootstrap.min.js"></script>
 </body>
 </html>
   