{% extends 'students/static/base.html' %}




{% block content %}
<!-- Start Main Page Content -->
<div class="row" id="content-columns">

 <div class="col-xs-12" id="content-column">

 		<!-- Status Message -->
 		<h2> Сервіс Обліку Студентів </h2>


		<table class="table table-striped">

  		<thead>
		<tr class="text-center">
			<th > <p >№<br> </p> </th>
			<th > <p >Студент<br> </p></th>
			<th > <p >СР <br> 1</p> </th>
			<th > <p >ЧТ <br> 2</p> </th>
			<th > <p >ПР <br> 3</p> </th>
			<th > <p >СБ <br> 4</p> </th>
			<th > <p >ВС <br> 5</p> </th>
			<th > <p >ПН <br> 6</p> </th>
			<th > <p >ВТ <br> 7</p> </th>
		</tr>
		<tr class="text-center">
			<th > <p >1</p> </th>
			<th > <p >Подоба Віталій</p> </th>
			<th >
					<label>	<input type="checkbox"></label>
			</th>
			<th >
					<label>	<input type="checkbox"></label>
			</th>

			<th >
					<label>	<input type="checkbox"></label>
			</th>
			<th >
					<label>	<input type="checkbox"></label>
			</th>
			<th >
					<label>	<input type="checkbox"></label>
			</th>
			<th >
					<label>	<input type="checkbox"></label>
			</th>
			<th >
					<label>	<input type="checkbox"></label>
			</th>

		</tr>


		</thead>




		</table>

<!-- End Main Page Content -->
{% endblock %}