 
<!DOCTYPE html>
 <html lang="uk">

 <head>
 <meta charset="UTF-8"/>
 <title>Сервіс Обліку Студентів</title>
 <meta name="description"
 value="Система Обліку Студентів Навчального Закладу" />

 <!-- Include Styles -->
 <link rel="stylesheet" href="https://cdn.jsdelivr.net/bootstrap/3.3.0/css/bootstrap.min.css">

 <style type="text/css">
 .col-xs-12
 .col-xs-4 
 .col-xs-8  
 </style>

 </head>

<body>
<!-- Javascripts Section -->
<script src="http://cdnjs.cloudflare.com/ajax/libs/jquery/2.1.1/jquery.js"></script>
<script src="https://cdn.jsdelivr.net/bootstrap/3.3.0/js/bootstrap.min.js"></script>



 <!-- Start Container -->
 <div class="container">

 <!-- Start Header -->
 <div class="row" id="header">

 <!-- Logo -->
 <div class="col-xs-8">
  <h1>Сервіс Обліку Студентів</h1>

 </div>

<!-- End Header -->

<!-- Start SubHeader -->
<div class="row" id="sub-header">
<div class="col-xs-12">
 <ul class="nav nav-tabs">
 	<li role="presentation"><a href="index2.html">Студенти</a></li>
	<li	role="presentation" class="active"><a href="table-students.html">Відвідування</a></li>
	<li role="presentation"><a href="group-students.html">Групи</a></li>
</ul>
</div>
</div>
</div>
<!-- End SubHeader -->


 <!-- Start Main Page Content -->
<div class="row" id="content-columns">

 <div class="col-xs-12" id="content-column">

 		<!-- Status Message -->
 		<h2> Сервіс Обліку Студентів </h2>


		<table class="table table-striped">
  
  		<thead>
		<tr class="text-center">
			<th > <p >№<br> </p> </th>
			<th > <p >Студент<br> </p></th>
			<th > <p >СР <br> 1</p> </th>
			<th > <p >ЧТ <br> 2</p> </th>
			<th > <p >ПР <br> 3</p> </th>
			<th > <p >СБ <br> 4</p> </th>
			<th > <p >ВС <br> 5</p> </th>
			<th > <p >ПН <br> 6</p> </th>
			<th > <p >ВТ <br> 7</p> </th>
		</tr>
		<tr class="text-center">
			<th > <p >1</p> </th>
			<th > <p >Подоба Віталій</p> </th>
			<th > 
					<label>	<input type="checkbox"></label>
			</th>
			<th > 
					<label>	<input type="checkbox"></label>
			</th>
			
			<th > 
					<label>	<input type="checkbox"></label>
			</th>
			<th > 
					<label>	<input type="checkbox"></label>
			</th>
			<th > 
					<label>	<input type="checkbox"></label>
			</th>
			<th > 
					<label>	<input type="checkbox"></label>
			</th>
			<th > 
					<label>	<input type="checkbox"></label>
			</th>
			
		</tr>
		
		
		</thead>
  
  
  
  
		</table>

<!-- End Main Page Content -->

 <!-- Start Footer -->
 <div class="row" id="footer">
<div class="col-xs-12">
 &copy; 2014 Сервіс Обліку Студентів
</div>
</div>
<!-- End Footer -->
 </div>
 </div>
</div>
 <!-- Start Main Page Content -->
 <!-- End Container -->
 

 <!-- Javascripts Section -->
 <script src="http://cdnjs.cloudflare.com/ajax/libs/jquery/2.1.1/jquery.js"></script>
 <script src="https://cdn.jsdelivr.net/bootstrap/3.3.0/js/bootstrap.min.js"></script>
 </body>
 </html>